/* 
WOO CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles here instead of style.css so it 
is easier to update the theme. Simply copy an existing 
style from style.css to this file, and modify it to 
your liking.

*/

#main sup {
    font-size:xx-small; vertical-align:top;
}
#main sub {
    font-size:xx-small; vertical-align:bottom;
}

/*
     FILE ARCHIVED ON 17:57:13 Oct 12, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:18:02 Jun 15, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 90.89 (3)
  esindex: 0.011
  captures_list: 110.828
  CDXLines.iter: 14.645 (3)
  PetaboxLoader3.datanode: 101.173 (4)
  exclusion.robots: 0.167
  exclusion.robots.policy: 0.157
  RedisCDXSource: 1.106
  PetaboxLoader3.resolve: 77.997
  load_resource: 128.309
*/