/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

body, html  {
	height: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
     FILE ARCHIVED ON 18:19:11 Oct 12, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:18:02 Jun 15, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 244.603 (3)
  esindex: 0.006
  captures_list: 259.006
  CDXLines.iter: 9.521 (3)
  PetaboxLoader3.datanode: 296.076 (4)
  exclusion.robots: 0.128
  exclusion.robots.policy: 0.116
  RedisCDXSource: 2.11
  PetaboxLoader3.resolve: 182.929
  load_resource: 249.283
*/